body {
  background-color: #232326;
}

.start-view{
  font-size: 2em;
  color: black;
  font-family: Arial, sans-serif;

  text-align: center;
}

.player-view{
  color: black;
  font-family: Arial, sans-serif;
  text-align:left;
}
.resource-list{
  color: darkturquoise;
  font-family: Arial, sans-serif;
}

.grid-item {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  height: 100px;
  width: 100px;
}

.selected {
  background-color: lightseagreen;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 122px);
  grid-gap: 5px;
  justify-content: center;
  align-items: center;

}

.rubrik{
  text-align: center;
  padding-left: 5rem;
}

.rubrik2{
  color: #27929c;

}

.rubrik3{
  margin-left: 100px;
}

.rubrik4{
  color:#dc9839;
  padding-left: 5rem;
  font-weight: bold;

}
