body {
  background-color: #232326;
}

.start-view{
  font-size: 2em;
  color: aquamarine;
  font-family: Arial, sans-serif;

  text-align: center;
}

.player-view{
  color: darkturquoise;
}
.resource-list{
  color: darkturquoise;
}